<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 10: מאלון הגליל לקיבוץ יגור</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY10.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מרתק של הליכה בין יערות, נחלים, מעיינות וטחנות קמח, מעבר חד מהגליל לכרמל, והכל ביום אחד. נתחיל ביער ציפורי, נעבור בכפר כעביה המרתק ובעין יבקע הנפלא וכמובן בטחנת הנזירים שכאילו נלקחה מסיפור האגדה, ונגיע עד ליגור דרך כפר חסידים ונחל קישון
                <br>
                <br>  
                דרגת קושי: בינוני | משך הטיול: 12 שעות | אורך המסלול המצטבר: 216 ק"מ
                <br>
                <br>                 
                נקודות למילוי מים: כפר חסידים/רכסים, כעביה, יגור
                <br>
                <br>                 
                נקודות להספקת אוכל: כפר חסידים/רכסים, כעביה, יגור
                <br>
                <br>                 
                הטמנות: אין | לינה: קיבוץ יגור                                            
    </p>
        </div>
        <div class="next">
                <a href="Day11.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day9.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>