<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 11: מקיבוץ יגור לעין הוד</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/Day11.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום הליכה על הר הכרמל בשיא הדרו בין נחלים, מערות חורבות, מעיינות ואפילו מצוקים. הטיול מומלץ בעונת הפריחה.
                <br>
                <br>  
                דרגת קושי: קשה | משך הטיול: 12 שעות | אורך המסלול המצטבר: 237 קילומטרים
                <br>
                <br>                  
                נקודות למילוי מים: חניון נחל אורן, חורבת רקית, עוספיא, עין הוד, ניר עציון
                <br>
                <br>                  
                נקודות להספקת אוכל: עוספיא, עין הוד, ניר עציון
                <br>
                <br>                  
                הטמנות: אין | לינה: עין הוד                                                           
    </p>
        </div>
        <div class="next">
                <a href="Day12.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day10.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>