<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 13: מרמת הנדיב לחדרה</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY13.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מגוון ומיוחד המתחיל בגני הנדיב וממשיך בתצפית מחוטם הכרמל ועובר בין נחלים וכפרים מיוחדים לבין עתיקות בקיסריה לאורך חופים שווים ועד לחדרה
                <br>
                <br>  
                דרגת קושי: קל | משך הטיול: 12 שעות | אורך המסלול המצטבר: 288 ק"מ
                <br>
                <br>                 
                נקודות למילוי מים: תחנת דלק בכביש 2, שדות ים, קיסריה, ג'יסר א-זרקא, בית חנניה, חדרה
                <br>
                <br>                 
                נקודות להספקת אוכל: תחנת דלק בכביש 2,בקיסריה,בג'יסר א-זרקה,בחדרה.
                <br>
                <br>                 
                הטמנות: אין | לינה: חדרה                                                                                        
    </p>
        </div>
        <div class="next">
                <a href="Day14.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day12.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>