<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 16: מתל אביב לכפר סירקין</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY16.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מרתק ומחשל לפנינו: נתחיל בתל אביב, ומעיר הגדולה נמשיך בתוואי נחל הירקון המפותל והמאתגר ממש עד למקורות הירקון ותל אפק, בגן לאומי ירקון היפהפה. משם הדרך קצרה לכפר סירקין
                <br>
                <br> 
                דרגת קושי: קל | משך הטיול: 12 שעות | אורך המסלול המצטבר: 364 קילומטרים
                <br>
                <br>                 
                נקודות למילוי מים: תל אפק, נחל הירקון, כפר סירקין | נקודות להצטיידות באוכל: כפר סירקין
                <br>
                <br>                 
                הטמנות: לא צריך | לינה: כפר סירקין                                                                                                                                   
    </p>
        </div>
        <div class="next">
                <a href="Day17.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day15.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>