<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 19: ממסילת ציון לצובה</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY19.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מדהים העובר בתצפיות בדרך לירושלים,מערות עתיקות ומעין אחד מומלץ בסוף היום
                <br>
                <br> 
                דרגת קושי: בינוני-קשה | משך המסלול: 10 שעות | אורך המסלול המצטבר: 433.5 ק"מ
                <br>
                <br>                
                נקודות למילוי מים: אנדרטת מח"ל, תחנת הדלק ליד מסילת ציון, קיבוץ צובה
                <br>
                <br>                
                נקודות להצטיידות באוכל: תחנת הדלק ליד מסילת ציון, מסילת ציון, קיבוץ צובה
                <br>
                <br>                
                הטמנות: לא צריך | לינה: קיבוץ צובה                                                                                                                                                                               
    </p>
        </div>
        <div class="next">
                <a href="Day20.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day18.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>