<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 15: מחוף פולג לתל אביב</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY15.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום הליכה מדהים בחופי ישראל המתחיל בחוף הים פולג ודרך שמורת הטבע ים פולג והגן הלאומי ים אפולוניה וחופי הים של הרצליה והאזור כולו ובסופו העיר תל אביב
                <br>
                <br> 
                דרגת קושי: קל | משך הטיול: 10 שעות | אורך המסלול המצטבר: 334 ק"מ
                <br>
                <br>                
                נקודות למילוי מים: מרינה הרצליה, חוף פולג, נתניה
                <br>
                <br>                
                נקודות להספקת אוכל: מרינה הרצליה, חוף פולג, נתניה
                <br>
                <br>                
                הטמנות: אין | לינה: תל אביב                                                                                                                    
    </p>
        </div>
        <div class="next">
                <a href="Day16.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day14.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>