<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 12: מעין הוד לרמת הנדיב</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/Day12.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                היום הוא יום הליכה בדרום מערב הכרמל בין חורבות, מעיינות, נחל המערות ושרידיו הפרהיסטוריים, תצפיות לכיוון הים ומישור החוף ולבסוף גן נדיב אחד ומופלא
                <br>
                <br> 
                דרגת קושי: בינוני עד קשה | משך הטיול: 12 שעות | אורך המסלול המצטבר: 265 קילומטרים
                <br>
                <br>                 
                נקודות למילוי מים: עופר (סטייה קלה מהשביל), מצפה עופר, נחל מערות, עין הוד, רמת הנדיב, ניר עציון 
                <br>
                <br>                 
                נקודות להספקת אוכל: עופר (סטייה קלה מהשביל), מצפה עופר, זכרון יעקב
                <br>
                <br>                 
                הטמנות: אין                                                                           
    </p>
        </div>
        <div class="next">
                <a href="Day13.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day11.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>