<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 2: מכפר גלעדי לרמות נפתלי</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY2.jpg" alt="DAY2" width="250px">
        </div>
        <div class="text">
            <p>
 היום הראשון והמרגש של שביל ישראל בו מתחילים את המסע במוזיאון אוסישקין, שבקיבוץ דן.  עוברים בתל דן ובנחל, ממשיכים לשמורת נחל שניר ומשם בהליכה על שביל ישראל כל הדרך עד לאנדרטת האירה השואג בכפר גלעדי
                <br>
                <br>
דרגת קושי: בינוני עד קשה | משך הטיול: 10-12 שעות | אורך המסלול המצטבר: 36 קילומטרים
                <br>
                <br>
נקודות למילוי מים: משכנות רועים, ליד סדקי יפתח יש בסיס צבאי - אפשר לנסות לבקש בנימוס למלא שם מים 
                <br>
                <br>
נקודות להספקת אוכל: משכנות רועים (מסעדה), רמות נפתלי
                <br>
                <br>
הטמנות: אין | לינה: מושב רמות נפתלי
            </p>
        </div>
        <div class="next">
                <a href="Day3.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Routes.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>