<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 25: מקיבוץ דבירה למיתר</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY25.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום קליל ונחמד בו עוברים בין שדות מעובדים וירוקים בעונה ובין מספר ישובים ויערות באזור דרום הר חברון.
                <br>
                <br> 
                ​דרגת קושי: קל-בינוני | משך הטיול: 10 שעות | אורך המסלול המצטבר: 558.5 קילומטר
                <br>
                <br>                 
                נקודות למילוי מים: סנסנה, להב, מיתר | נקודות לאספקת אוכל: להב, מיתר            
                <br>
                <br>                 
                הטמנות: אין | לינה: סנסנה, להב, מיתר                                                                                                                                                                                                                                                                    
    </p>
        </div>
        <div class="next">
                <a href="Day26.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day24.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>