<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 23: מבית גוברין לתל קשת</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY23.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום הליכה בין כרמים ושדות ובין עתיקות משלל השנים והתקופות בין חקלאות עתידית לחקלאות עתיקה באזור בית גוברין ומושב לכיש.
                <br>
                <br> 
                דרגת קושי: קל | משך הטיול: 10 שעות | אורך המסלול המצטבר: 512 קילומטרים
                <br>
                <br>                 
                נקודות למילוי מים והצטיידות באוכל: מושב לכיש, אחוזם (סטייה של כ-2 קילומטרים)
                <br>
                <br>                 
                הטמנות: אין | לינה: מושב לכיש, אחוזם                                                                                                                                                                                                                                       
    </p>
        </div>
        <div class="next">
                <a href="Day24.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day22.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>