<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 27: מהר עמשא לערד</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY27.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                היום אנחנו עוברים מההר אל המדבר, מהיער הירוק אל הנוף המדברי הצהוב, ומהמרכז אל הדרום. נחלוף ליד הכפר הפלאחי דריג'את, תל ערד ופארק ערד, ונסיים בעיר ערד – אבן דרך משמעותית בשביל ישראל
                <br>
                <br>
                דרגת קושי: בינוני | משך הטיול: 10 שעות | אורך המסלול המצטבר: 603 קילומטרים
                <br>
                <br>                
                נקודות למילוי מים: פארק ערד, תל ערד, דריג'את, ערד
                <br>
                <br>                
                נקודות להספקת אוכל: דריג'את, ערד
                <br>
                <br>                
                הטמנות: אין | לינה: ערד                                                                                                                                                                                                                                                                                                  
    </p>
        </div>
        <div class="next">
                <a href="Day28.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day26.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>