<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 21: מצור הדסה לנתיב הל''ה</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY21.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום יפה המתחיל במעיין נחמד והליכה בדרך רומית עתיקה בירידה מהרי ירושלים לכיוון ישובי גוש עציון ועמק האלה המיוחד במינו
                <br>
                <br> 
                ​דרגת קושי: בינוני-קשה | משך הטיול: 10 שעות | אורך המסלול המצטבר: 468 ק"מ
                <br>
                <br>                
                נקודות למילוי מים: ברז מקורות אחרי חציית כביש 3855, ישוב מטע (סטייה קלה מהשביל), ישוב בר גיורא (סטייה קלה מהשביל), קיבוץ נתיב הל"ה
                <br>
                <br>                
                נקודות להצטיידות באוכל: קיבוץ נתיב הל"ה
                <br>
                <br>                
                הטמנות: לא צריך | לינה: ישוב מטע, ישוב בר גיורא, קיבוץ נתיב הל"ה                                                                                                                                                                                                         
    </p>
        </div>
        <div class="next">
                <a href="Day22.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day20.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>