<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 24: מתל קשת לקיבוץ דבירה</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY24.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום ארוך אך מיוחד בו אנחנו מתחילים בתהליך הפרידה שלנו מהנוף הירוק שהתרגלנו אליו עד כה ופוגשים בתחילתו של התוואי המדברי. בדרך עוברים בין נחלים ירוקים, תילים עתיקים, גשר הרוס ואגם עונתי – מרהיב ביופיו.
                <br>
                <br> 
                ​דרגת קושי: קל | משך הטיול: 12 שעות | אורך המסלול המצטבר: 538.5 קילומטרים
                <br>
                <br>                 
                נקודות למילוי מים והצטיידות באוכל: תחנת הדלק במעבר כביש 40, קיבוץ דבירה
                <br>
                <br>                 
                הטמנות: אין | לינה: קיבוץ דבירה                                                                                                                                                                                                                                                     
    </p>
        </div>
        <div class="next">
                <a href="Day25.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day23.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>