<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 26: ממיתר להר עמשא</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY26.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מדהים בו מגיעים ליער יתיר מקום קסום האוצר בתוכו אין ספור מקומות מעניינים. ביום זה חוצים את כל היער עד ההגעה לישוב הקהילתי הר עמשא.
                <br>
                <br>
                דרגת קושי: בינוני | משך הטיול: 10 שעות | אורך המסלול המצטבר: 580.5 קילומטרים
                <br>
                <br>                
                נקודות למילוי מים: בית היערן,ישוב הר עמשא | נקודות להצטיידות באוכל: אין
                <br>
                <br>                
                הטמנות: אין | לינה: בית היערן, יישוב הר עמשא                                                                                                                                                                                                                                                                                   
    </p>
        </div>
        <div class="next">
                <a href="Day27.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day25.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>