<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 30: מחניון מצד תמר למכתש הקטן</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY30.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מרתק בתוך המכתש הקטן שנקרא גם (שערי השטן). תחילה עוברים בתוך נחל צפית והמעיין המדהים שבתוכו, ומשם מגיעים לתצפית יפה על המכתש ממרום מעלה חצרה ועוברים בתוך המכתש והחולות הצבעוניים שבתוכו. לאחר העלייה במעלה עלי תצפית מדהימה וסיום היום.
                <br>
                <br>
                דרגת קושי: בינוני עד קשה | משך הטיול: 10 שעות | אורך המסלול המצטבר: 663 קילומטרים
                <br>
                <br>                
                נקודות למילוי מים: בבסיס צה"ל כ-400 מ' במעלה הכביש לכיוון צפון מחניון לילה המכתש הקטן
                <br>
                <br>                
                נקודות להספקת אוכל: אין
                <br>
                <br>                
                הטמנות ולינה: חניון לילה המכתש הקטן                                                                                                                                                                                                                                                                                                                                             
    </p>
        </div>
        <div class="next">
                <a href="Day31.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day29.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>