<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 31: מהמכתש הקטן לחניון מפעל אורון</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY31.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מעניין ומיוחד אשר מחבר בין המכתש הקטן למכתש הגדול. בתחילתו מצד צפיר עם תצפית יפה ובהמשך ירידה ממעלה ימין ועלייה במעלה פלמ"ח, ואז עין ירקעם המדהים ולבסוף עלייה לסנפיר הגדול ותצפית מראשו
                <br>
                <br>
                דרגת קושי: בינוני | משך הטיול: 12 שעות | אורך המסלול המצטבר: 683 קילומטרים
                <br>
                <br>                
                נקודות למילוי מים: חניון לילה למטיילים במפעל אורון
                <br>
                <br>                
                נקודות להספקת אוכל: אין
                <br>
                <br>                
                הטמנות: חניון לילה למטיילים במפעל אורון בתוך ארון המיועד לכך בכניסה למפעל.
                <br>
                <br>                
                לינה: חניון לילה מפעל אורון                                                                                                                                                                                                                                                                                                                                                            
    </p>
        </div>
        <div class="next">
                <a href="Day32.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day30.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>