<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 34: מחוד עקב לחניון נחל חווה</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY34.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מעניין עם הרבה מים באמצע המדבר בדמות עין עקב תחתון ועליון,עין שביב ובעקבות כך גם בעלי חיים רבים. יום עם תצפית יפה אל עבר בקעת צין מחוד עקב ועוד מגוון רחב של טבע מדברי.
                <br>
                <br>
                דרגת קושי: בינוני | משך הטיול: 10 שעות | אורך המסלול המצטבר: 738 קילומטרים
                <br>
                <br>                
                נקודות למילוי מים והצטיידות באוכל: אין
                <br>
                <br>                
                הטמנות: | לינה: חניון לילה נחל חווה                                                                                                                                                                                                                                                                                                                                                                                                       
    </p>
        </div>
        <div class="next">
                <a href="Day35.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day33.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>