<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 39: ממושב צופר לחניון נחל ברק</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY39.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום ארוך אך לא קשה, שבו נלך לאורך כל היום בשביל 4x4 בתוך נחלים גדולים ונעבור בישוב הקדום מואה, בציר המעיינות ובדרך הבשמים.
                <br>
                <br>
                דרגת קושי: קל | משך הטיול: 12 שעות | אורך המסלול המצטבר: 859.5 ק”מ
                <br>
                <br>                
                נקודות למילוי מים והצטיידות באוכל: פארן – סטייה של כ-8 קילומטרים בכביש 90
                <br>
                <br>                
                הטמנות: חניון לילה נחל ברק | לינה: חניון לילה נחל ברק, הישוב צוקים.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    </p>
        </div>
        <div class="next">
                <a href="Day40.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day38.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>