<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 3: מרמות נפתלי לקיבוץ ברעם</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY3.jpg" alt="DAY2" width="250px">
        </div>
        <div class="text">
            <p>
                יום מלא הפתעות: הליכה בין קרן נפתלי ובתוך נחל דישון האהוב על מטיילים על שלל מעיינותיו  וסיום היום בקיבוץ ברעם הנהדר.
                    <br>
                    <br>
                דרגת קושי: בינוני עד קשה | משך הטיול: 12 שעות | אורך המסלול המצטבר: 61 ק"מ
                    <br>
                    <br>
                נקודות למילוי מים: ברז חברת מקורות במתקן שאיבה עין אביב, קיבוץ ברעם
                    <br>
                    <br>
                נקודות להספקת אוכל: קיבוץ ברעם
                    <br>
                    <br>    
                הטמנות: אין | לינה: קיבוץ ברעם           
            </p>
        </div>
        <div class="next">
                <a href="Day4.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day2.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>