<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 33: מחניון מדור/עפרן לחוד עקב</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY33.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום קל מאוד בקטע מישורי בתוך נחל צין הרחב בדרך כמה מקומות נחמדים לעצירה ואפילו לירידה מהשביל יום אשר בו נחים עקב היום שהיה בהר כרבולת.
                <br>
                <br>
                דרגת קושי: קל | משך הטיול: 6 שעות | אורך המסלול המצטבר: 715.5 ק”מ
                <br>
                <br>                
                נקודות למילוי מים והצטיידות באוכל: מדרשת בן גוריון סטייה של כ-5 קילומטרים
                <br>
                <br>                
                הטמנות: חניון לילה עקב | לינה: חניון לילה עקב, מדרשת בן גוריון סטייה של כ-5 קילומטרים                                                                                                                                                                                                                                                                                                                                                                                          
    </p>
        </div>
        <div class="next">
                <a href="Day34.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day32.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>