<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 46: מחניון הר יהורם לאילת</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY46.jpg" alt="DAY1" width="250px">
        </div>
        <div class="text">
            <p>
                היום האחרון והמדהים בשביל ישראל: יורדים את אחד הנחלים היפים בארץ – נחל גשרון, וממנו ממשיכים להר עם תצפית לארבע מדינות שונות – הר צפחות. סיום היום בחוף ים סוף בבית ספר שדה אילת.
                <br>
                <br>
                משך הטיול: 8 שעות | אורך המסלול המצטבר: 1018 קילומטרים | דרגת קושי: בינוני
                <br>
                <br>         
                נקודות למילוי מים: בית ספר שדה אילת | נקודות להספקת אוכל: אילת
                <br>
                <br>      
                הטמנות: אין | לינה: בי"ס שדה אילת, אכסניית השלטר (לילה ראשון חינם לשביליסטים)                
            </p>
        </div>
        <div class="next">
            <a href="Day45.html" style="text-decoration: none;">למקטע  הקודם</a>
    </div>
    </div>
</body>
</html>