<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 44: מנחל מנגן לנחל רחם/עתק</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY44.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מדהים עם שלל תופעות אקולוגיות בפארק תמנע, כולל אגם יפה, במת תמנע ועמודי שלמה הנפלאים.
                <br>
                <br>
                דרגת קושי: בינוני | משך הטיול: 8-10 שעות | אורך המסלול המצטבר: 980 קילומטרים
                <br>
                <br>      
                נקודות למילוי מים: פארק תמנע, בשני צדדיו
                <br>
                <br>     
                נקודות להספקת אוכל: מסעדת "חאן שלמה המלך" בצדו הדרומי של פארק תמנע, קיבוץ אליפז
                <br>
                <br>   
                הטמנות: בחניון נחל מנגן | לינה: פארק תמנע, חניון לילה נחל מנגן, קיבוץ אליפז                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    </p>
        </div>
        <div class="next">
                <a href="Day45.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day43.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>