<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 45: מנחל רחם/עתק להר יהורם</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY45.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום ארוך וקשה אך מדהים בהרי אילת. במהלך היום נפגוש שלל סלעים צבעוניים, תופעות גיאולוגיות, מעיינות, גבים, קניונים ונווה מדבר אחד מיוחד.
                <br>
                <br>
                דרגת קושי: קשה | משך הטיול: 12 שעות | אורך המסלול המצטבר: 1004 קילומטרים
                <br>
                <br>      
                נקודות למילוי מים: אין | נקודות להספקת אוכל: אין
                <br>
                <br>   
                הטמנות: חניון שחורת, חניון נחל רחם/עתק
                <br>
                <br>  
                לינה: חניון לילה שחורת (אמצע המסלול), חניון לילה הר יהורם (סוף המסלול)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    </p>
        </div>
        <div class="next">
                <a href="Day46.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day44.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>