<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 43: משחרות לחניון נחל מנגן</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY43.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום יפהפה אך מעט ארוך, שמתחיל ביישוב שחרות וממשיך לאורך הצוקים בהרי אילת בין בארות, בולבוסים ואמוניטים, ומעלה מלחן הגדול שבו יורדים ומסיימים את היום בבקעת ססגון.
                <br>
                <br>
                דרגת קושי: קל עד בינוני | משך הטיול: 12 שעות | אורך המסלול המצטבר: 963 קילומטר
                <br>
                <br>      
                נקודות למילוי מים: כניסה לפארק תמנע כ-2.4 קילומטרים דרומית לחניון הלילה נחל מנגן עד השעה 16:00
                <br>
                <br>     
                נקודות להספקת אוכל: אין
                <br>
                <br>    
                הטמנות: חניון לילה נחל מנגן | לינה: חניון הלילה נחל מנגן                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    </p>
        </div>
        <div class="next">
                <a href="Day44.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day42.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>