<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 6: מעין נון לכנרת מושבה</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY6.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום המתחיל בטיפוס על הר ארבל וההיסטוריה הרבה שבתוכו ועליו וממשיך במעבר באחת הערים הקדושות ליהודים ומסתיים במעין קטן ובמושבה מבין הראשונות אשר נוסדו באזור הכינרת
                <br>
                <br> 
                דרגת קושי: בינוני | משך הטיול: 12 שעות | אורך המסלול המצטבר: 130 ק"מ
                <br>
                <br>                
                נקודות למילוי מים: טבריה עילית, מצפה, כפר חיטים (סטייה קלה מהשביל), כנרת המושבה
                <br>
                <br>                
                נקודות להספקת אוכל: טבריה עילית, כנרת המושבה
                <br>
                <br>                
                הטמנות: אין | לינה: כנרת מושבה          
    </p>
        </div>
        <div class="next">
                <a href="Day7.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day5.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>