<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a class="active" href="Routes.html">מסלולים</a>
            <a href="Pictures.html">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 7: מכנרת מושבה לכפר קיש</h1></center>
        </div>
        <div class="picture">
            <img src="../תמונות/DAY7.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום מהנה המתחיל בנהר הירדן וממשיך אל נחל יבנאל ומצפה אלות המשקיף על הכנרת בתצפית מדהימה. משם הוא ממשיך לעין אולם ועד לכפר קיש דרך נחל תבור בין שדות, מטעים וכרמים אשר סובבים בכל האזור.
                <br>
                <br> 
                דרגת קושי: בינוני עד קשה | משך הטיול: 12 שעות | אורך המסלול המצטבר: 155 ק"מ
                <br>
                <br>                 
                נקודות למילוי מים: ירדנית, כפר קיש | נקודות להספקת אוכל: כפר קיש
                <br>
                <br>                 
                הטמנות: אין | לינה: כפר קיש                        
    </p>
        </div>
        <div class="next">
                <a href="Day8.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day6.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>