<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 8: מכפר קיש להר יונה</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY8.jpg" width="250px">
        </div>
        <div class="text">
            <p>
                יום ירוק במיוחד עם עלייה לא פשוטה להר תבור, אך הנוף הנשקף ממנו שווה הכל. בהמשך הולכים אל עבר הר דבורה, ומשם, דרך נחל ברק בן אבינועם עולים אל שכונת הר יונה שבננוף הגליל.
                <br>
                <br> 
                דרגת קושי: קשה | משך הטיול: 12 שעות | אורך המסלול המצטברים: 177 קילומטרים
                <br>
                <br>                 
                נקודות למילוי מים: דבורייה, הר תבור, צומת גזית, כפר תבור (סטייה קלה מהשביל), הר יונה, נוף הגליל
                <br>
                <br>                 
                נקודות להספקת אוכל: דבורייה, צומת גזית, כפר תבור (סטייה קלה מהשביל), נוף הגליל
                <br>
                <br>                 
                הטמנות: אין | לינה: נוף הגליל                         
    </p>
        </div>
        <div class="next">
                <a href="Day9.html" style="text-decoration: none;">למקטע  הבא</a>
        </div>
        <div class="back">
                <a href="Day7.html" style="text-decoration: none;">למקטע הקודם</a>
        </div>
    </div>
</body>
</html>