<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Pictures.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="HomePage.html">דף הבית</a>
            <a href="Routes.html">מסלולים</a>
            <a class="active" href="Pictures.html">תמונות</a>
        </div>
        <div class="one">
            <img src="../תמונות/SHVIL1.jpeg" alt="1" height="200" class="center">
        </div>
        <div class="two">
            <img src="../תמונות/SHVIL2.jpeg" alt="2" height="200" class="center">
        </div>
        <div class="three">
            <img src="../תמונות/SHVIL3.jpeg" alt="3" height="200" class="center">
        </div>
        <div class="four">
            <img src="../תמונות/SHVIL4.jpeg" alt="4" height="200" class="center">
        </div>
        <div class="five">
            <img src="../תמונות/SHVIL5.jpeg" alt="5" height="200" class="center">
        </div>
        <div class="six">
            <img src="../תמונות/SHVIL6.jpeg" alt="6" height="200" class="center">
        </div>
        <div class="seven">
            <img src="../תמונות/SHVIL7.jpeg" alt="7" height="200" class="center">
        </div>
        <div class="eight">
            <img src="../תמונות/SHVIL8.jpeg" alt="8" height="200" class="center">
        </div>
        <div class="nine">
            <img src="../תמונות/SHVIL9.jpeg" alt="9" height="200" class="center">
        </div>

    </div>
</body>
</html>