<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a href="/routes">מסלולים</a>
            <a class="active" href="/pictures">תמונות</a>
            <a href="/allroutes">לכל המסלולים</a>
          </div>
        <div class="one">
            <img src="SHVIL1.jpeg" alt="1" height="200" class="center1">
        </div>
        <div class="two">
            <img src="SHVIL2.jpeg" alt="2" height="200" class="center1">
        </div>
        <div class="three">
            <img src="/SHVIL3.jpeg" alt="3" height="200" class="center1">
        </div>
        <div class="four">
            <img src="/SHVIL4.jpeg" alt="4" height="200" class="center1">
        </div>
        <div class="five">
            <img src="/SHVIL5.jpeg" alt="5" height="200" class="center1">
        </div>
        <div class="six">
            <img src="/SHVIL6.jpeg" alt="6" height="200" class="center1">
        </div>
        <div class="seven">
            <img src="/SHVIL7.jpeg" alt="7" height="200" class="center1">
        </div>
        <div class="eight">
            <img src="/SHVIL8.jpeg" alt="8" height="200" class="center1">
        </div>
        <div class="nine">
            <img src="/SHVIL9.jpeg" alt="9" height="200" class="center1">
        </div>

    </div>
</body>
</html>