<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Days.css">
    <title>המלצות לשביל ישראל</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <a href="/">דף הבית</a>
            <a class="active" href="/routes">מסלולים</a>
            <a href="/pictures">תמונות</a>
          </div>
        <div class="header">
            <center><h1>קטע מספר 1: מדן לכפר גלעדי</h1></center>
        </div>
        <div class="picture">
            <img src="/DAY1.jpg" alt="DAY1" width="250px">
        </div>
        <div class="text">
            <p>
 היום הראשון והמרגש של שביל ישראל בו מתחילים את המסע במוזיאון אוסישקין, שבקיבוץ דן.  עוברים בתל דן ובנחל, ממשיכים לשמורת נחל שניר ומשם בהליכה על שביל ישראל כל הדרך עד לאנדרטת האירה השואג בכפר גלעדי
                <br>
                <br>

דרגת קושי: קל | משך הטיול: 6-8 שעות | אורך המסלול המצטבר: 14 קילומטרים
                <br>
                <br>

נקודות למילוי מים: קיבוץ דן, קיבוץ מעיין ברוך, כפר יובל, קיבוץ כפר גלעדי
                <br>
                <br>

נקודות להספקת אוכל: קיבוץ דן, כפר גלעדי, קריית שמונה
                <br>
                <br>

הטמנות: אין | לינה: קיבוץ כפר גלעדי
                <br>
                <br>
            </p>
        </div>
        <div class="next">
            <a href="Day2.html" style="text-decoration: none;">למקטע  הבא</a>
    </div>
    </div>
</body>
</html>